.navbar-title {
    color: white;
    background-image: linear-gradient(to right, darkblue , rgb(75, 113, 238));
    text-align: center;
    padding: .25rem;
}

/* CITY SEARCH CONTAINER */

form div label {
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;

}

#city-name {
    padding: .5rem;
    width: 100%;
    margin: .5rem 0rem;
}

#search-btn {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0rem;
}

.dividing-line {
    display: block;
    width: 100%;
    border-bottom: black 1px solid;
    margin: .25rem 0rem .5rem 0rem;
}

form div ul li {
    border-radius: 4px;
    margin: .25rem 0rem;
    list-style-type: none;
}

/* HISTORY OF SEARCHES */

.btn-secondary {
    width: 100%;
}

/* 5 DAY FORECAST */
.forecastCard {
    background-image: linear-gradient(rgba(47, 47, 58, 0.842) , rgba(75, 85, 117, 0.829));
    
}

.forecastCard h6 {
    color: white;
    font-weight: bold;
    margin-bottom: .25rem;
}

.forecastCard p {
    color: white;
    margin-bottom: .25rem;
}

.forecastCard img {
    height: 40%;
    width: 40%;
}

/* UV Index Stylings */

.low {
    background-color: rgb(51, 204, 51);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25em;
}

.moderate {
    background-color: rgb(255, 255, 102);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25em;

}

.high{
    background-color: rgb(255, 191, 0);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25em;

}

.very-high{
    background-color: rgb(255, 64, 0);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25em;

}

.extreme {
    background-color: rgb(191, 0, 255);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25em;

}